/* shared styles */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.hide {
  display: none;
}

/* navbar styles */
.nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 1.5rem 10rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo-title {
  font-size: 2.2rem;
  font-weight: 700;
}
.logo-G {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigaton-bar ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navigaton-bar a {
  color: #3c354f;
  font-size: 1rem;
  font-weight: 500;
}

.icons i {
  margin-left: 10px;
}
.icons {
  border-radius: 5px;
  background: rgba(11, 2, 35, 0.1);
  padding: 0.5rem;
}

/* banner styles */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
  background: #fff;
}
.banner-image {
  background-image: url("images/Group\ 14.png");
  fill: linear-gradient(
    223deg,
    rgba(140, 87, 238, 0.03) 0%,
    rgba(241, 68, 174, 0.03) 100%
  );
  height: 500px;
  width: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-text {
  position: absolute;
  top: 15%;
}
.banner-img img {
  width: 500px;
}
.banner-title-1 {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-title-2 {
  font-size: 6rem;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
}
.banner-description {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 2rem;
}
.btn-1,
.btn-2 {
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  padding: 0.8rem 2rem;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-2 {
  border-radius: 48px;
  background: #4ec5f7;
  margin-left: 1rem;
}
/* gamer section styles */
.we-gamer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 2rem 10rem;
}
.gamer-image img {
  width: 650px;
}
.gamer {
  text-align: right;
}
.gamer-title {
  font-size: 2.5rem;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gammer-description {
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 2rem 0;
  line-height: 1.5rem;
}
.purpose {
  color: #534c64;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  margin-top: 1rem;
}
.purpose small {
  font-size: 1rem;
  font-weight: 500;
}
/* games section styles */
.online-games-container {
  padding: 5rem 8rem;
}
.game-heading {
  color: #0b0223;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.game-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-description {
  color: #534c64;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.games-card-container {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 250px;
  height: 300px;
  position: relative;
}
.image-img {
  width: 100%;
  height: 100%;
  display: block;
}
.image-ovarly {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  cursor: pointer;
}
.image-ovarly:hover {
  opacity: 1;
}
.image-description {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-top: 1rem;
}

.image-description-2 {
  margin: 0.8rem 0;
  color: #534c64;
  font-size: 0.9rem;
  font-weight: 500;
}

/* game play section styles */
.game-play-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 8rem;
}
.game-play-img-container {
  height: 520px;
  width: 500px;
}
.game-play-img-1 {
  height: 100%;
  width: 100%;
}
.game-play-img-2 {
  height: 50%;
  position: relative;
  bottom: 200px;
  right: 100px;
}
.game-play-img-2-2 {
  height: 50%;
  position: relative;
  bottom: 200px;
  left: 380px;
}
.game-text {
  text-align: right;
}
.game-text-1 {
  text-align: left;
}
.game-play-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.game-play-title-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.game-play-description {
  color: #534c64;
  font-size: 0.8rem;
  font-weight: 400;
  margin-top: 2rem;
  line-height: 1.5rem;
}

/* game button section styles */
.game-button {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.game-button img {
  width: 50px;
}
.game-button p {
  color: #0b0223;
  font-size: 1rem;
  font-weight: 600;
}
.game-button:hover {
  border: 1.5px solid #ff42a5;
  border-radius: 50px;
  background: #fff;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.game-button-container {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  padding: 5rem 8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

/* footer section styles */
.footer-container {
  background: #0b0223;
  text-align: center;
  padding: 3rem 0;
}
.footer-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  margin: 3rem 0;
}
.footer-heading img {
  height: 35px;
  margin-right: 0.8rem;
}
.footer-description {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 500;
  gap: 2.5rem;
}
.footer-icons img {
  width: 35px;
  margin: 2rem 0;
  margin-right: 2rem;
}
.f-d-2,
.footer-copyright {
  display: flex;
  justify-content: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
  gap: 3rem;
  line-height: 3rem;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    padding: 2rem;
  }
  .navigaton-bar ul {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  .banner-container {
    flex-direction: column-reverse;
    padding: 1rem;
    text-align: center;
  }
  .banner-img img {
    width: 300px;
  }
  .banner-image {
    width: 100%;
    height: 350px;
  }
  .banner-text {
    text-align: left;
    padding: 0 5rem;
  }
  .banner-title-1 {
    font-size: 1.5rem;
  }
  .banner-title-2 {
    font-size: 3rem;
  }
  .banner-description {
    font-size: 0.8rem;
    /* text-align: left; */
  }
  .btn-1,
  .btn-2 {
    font-size: 0.6rem;
    margin-left: 0;
  }

  /* gamer section responsibe */
  .we-gamer-container {
    flex-direction: column;
    padding: 2rem 2rem;
  }
  .gamer-image img {
    width: 400px;
  }
  .gamer {
    text-align: center;
  }
  .gammer-description {
    font-size: 0.6rem;
    margin: 1rem 0;
    line-height: 1rem;
  }

  /* online games responsibe */
  .online-games-container {
    padding: 5rem 2rem;
  }
  .game-heading {
    font-size: 1.6rem;
  }
  .game-description {
    font-size: 0.7rem;
  }
  .games-card-container {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    margin-top: 4rem;
  }
  .image-description-2 {
    font-size: 0.7rem;
  }
  .game-play-img-container {
    height: 250px;
    width: 250px;
    margin-top: 2rem;
  }
  .game-play-img-2 {
    bottom: 100px;
    right: 40px;
  }
  .game-play-img-2-2 {
    bottom: 100px;
    left: 180px;
  }
  .game-play-container {
    flex-direction: column;
    padding: 5rem 2rem;
  }
  .game-text {
    text-align: center;
  }
  .game-text-2{
    text-align: center;
    margin-top: 5rem;
  }

  .game-button-container {
    padding: 5rem 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 1rem;
  }

  .game-button img {
    width: 30px;
  }
  .game-button p {
    color: #0b0223;
    font-size: 0.5rem;
    font-weight: 700;
  }

  .footer-container {
    background: #0b0223;
    text-align: center;
    padding: 2rem;
  }
  .footer-heading {
    margin: 1rem 0;
  }
  .footer-heading img {
    height: 30px;
  }
  .footer-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1rem;
    font-weight: 400;
    padding: 0 2rem;
  }
  .footer-icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: center;
    grid-gap: 1rem 1rem;
    padding: 3rem 0;
  }
  .footer-icons img {
    width: 30px;
    margin: 0 0;
    margin-right: 0;
  }
  .f-d-2 {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
  }
  .footer-copyright {
    padding: 0 4rem;
    line-height: normal;
  }
}

/* media queries styles for tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
  .nav-container {
    padding: 2rem;
  }
  .banner-container {
    /* flex-direction: column; */
    padding: 0 2rem;
  }
  .banner-img img {
    width: 300px;
  }
  .banner-image {
    width: 100%;
    height: 350px;
  }
  .banner-text {
    padding: 0 2rem;
  }
  .banner-title-1 {
    font-size: 1.5rem;
  }
  .banner-title-2 {
    font-size: 3rem;
  }
  .banner-description {
    font-size: 0.8rem;
    /* text-align: left; */
  }
  .btn-1,
  .btn-2 {
    font-size: 0.6rem;
    margin-left: 0;
  }

   /* gamer section responsibe */
   .we-gamer-container {
    padding: 2rem 2rem;
  }
  .gamer-image img {
    width: 400px;
  }
  .gamer {
    text-align: right;
  }
  .gammer-description {
    font-size: 0.6rem;
    margin: 1rem 0;
    line-height: 1rem;
  }
  .purpose{
    font-size: 1rem;
  }
  /* online games responsibe */
  .online-games-container {
    padding: 5rem 2rem;
  }
  .game-heading {
    font-size: 2rem;
  }
  .game-description {
    font-size: 0.8rem;
  }
  .games-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 4rem;
    gap: 4rem;
  }
  .image-description-2 {
    font-size: 0.8rem;
  }

  .game-play-img-container {
    height: 300px;
    width: 300px;
  }
  .game-play-img-2 {
    bottom: 100px;
    right: 40px;
  }
  .game-play-container {
    padding: 2rem;
  }

  .game-button-container {
    padding: 5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* display: flex; */
    /* flex-wrap: wrap;  */
    /* justify-content: center; */
    /* gap: 2rem; */
  }
}
